################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestingTeamcity/packages
/TestingTeamcity/TestingTeamcity/bin
/TestingTeamcity/TestingTeamcity/obj/Debug
